@import '_main.scss';

.cards-container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $text-color-highlight;
  background: $background-color;
  height: 100%;
  overflow: auto;

  .cards-container__title {
    font-weight: bold;
    width: 100%;
  }

  .cards-container__cards {
    padding: 0 10vw;
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-wrap: wrap;
    .cards-container__cards__card {
      margin-left: 4vw;
    }
    overflow: auto;
  }

  .cards-container__paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    .cards-container__paginator__button {
      color: $text-color-highlight;
      border: none;
      background: none;
    }
    .cards-container__paginator__button:hover {
      color: #1ED760;
      transition: 1s;
    }
    height: 5vh;
    flex-shrink: 0;
  }

  .highlight {
    text-decoration: underline;
  }
}

