@import '_main.scss';

.cards-container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background-color;
  color: $text-color-highlight;
  height: 100%;

  .cards-container__title {
    padding: 0vh 10vw;
    font-weight: bold;
  }

  .cards-container__cards {
    padding: 2vh 10vw;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    .cards-container__cards__card {
      margin-left: 4vw;
    }
    overflow: auto;
  }

  .cards-container__cards > div {
      //margin-left: 4vw;
  }

  .cards-container__paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    .cards-container__paginator__button {
      color: $text-color-highlight;
      border: none;
      background: none;
    }
    .cards-container__paginator__button:hover {
      color: #1ED760;
      transition: 1s;
    }
  }

  .highlight {
    text-decoration: underline;
  }
}
