@import '_main.scss';

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  color: white !important;
  padding: 2vh 10vw 1.5vh 10vw; 
  .top-bar__logo{
    height: 10vh;
    width: 15vw;
    background-image: url('../../../assets/logo.png');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
  }
}
